
<% layout("/layouts/boilerplate") %>


    <!-- <h2 class="he"> ALL Listings</h2> -->
    <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>


    </form> -->

    

    <div id="filters">
  
      <a href="/listings">
      <div class="filter">
        <div><i class="fa-solid fa-fire fil"></i></div>
       <p> Trending</p>
      </div>
      </a>

      <a href="/listings/rooms">
      <div class="filter">
        <div><i class="fa-solid fa-bed fil"></i></div>
       <p> Rooms</p>
      </div>
     </a>

      <a href="/listings/cities">
      <div class="filter">
        <div><i class="fa-solid fa-mountain-city fil"></i></div>
       <p> Iconic Cities</p>
      </div>
      </a>

 
      <a href="/listings/mountains">
      <div class="filter">
        <div><i class="fa-solid fa-mountain fil"></i></div>
       <p> Mountains</p>
      </div>
      </a>

      <a href="/listings/castles">
      <div class="filter">
        <div><i class="fa-brands fa-fort-awesome fil"></i></div>
       <p> Castles</p>
      </div>
      </a>

      <a href="/listings/pools">
      <div class="filter">
        <div><i class="fa-solid fa-person-swimming fil"></i></div>
       <p> Amazing Pools</p>
      </div>
      </a>

      <a href="/listings/camping">
      <div class="filter">
        <div><i class="fa-solid fa-campground fil"></i></div>
       <p> Camping</p>
      </div>
      </a>

      <a href="/listings/farms">
      <div class="filter">
        <div><i class="fa-solid fa-cow fil"></i></div>
       <p> Farms</p>
      </div>
      </a>

      <a href="/listings/artics">
      <div class="filter">
        <div><i class="fa-regular fa-snowflake fil"></i></div>
       <p> Artic</p>
      </div>
     </a>

     <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"> Display Total After Taxes </label>
      </div>
     </div>

      

    </div>

  <div class="row  row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-1 ">
    <% for( let listing of allListings ) {  %>
        <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card">
            <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style=" height: 20rem;">
            <div class="card-img-overlay">Uday</div>
            <div class="card-body">
              <p class="card-text">
                <b><%= listing.title %></b><br>
                 &#x20b9; <%= listing.price.toLocaleString("en-IN") %> / night
                 <i class="tax-info"> &nbsp; &nbsp; +18% GST </i>
        
    
              </p>
            </div>
          </div>
        </a>
          <%   } %>
   </div>
    

    
    
<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");

  taxSwitch.addEventListener("click" , ()=>{
     let taxInfo = document.getElementsByClassName("tax-info");

     for(info of taxInfo ){
      if(info.style.display != "inline"){
        info.style.display = "inline";

      }else{
        info.style.display = "none";
      }
     }
  });

</script>